.bundle
.DS_Store
.gems
*.sql
blackbook.tmproj
log/*.log
tmp/**/*
doc/api
doc/app
coverage
db/*.sqlite3
config/database.yml
config/memcached.yml
config/newrelic.yml
public/javascripts/cache
public/stylesheets/cache
public/system/
sync_db.sh
