= form_for @user, :url => password_reset_path, :method => :put do |f|
  %h2 Change My Password
  -# TODO FIXME
  =# f.error_messages
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.submit "Update"
