/*
* 000000book.com
* Jamie Wilkinson <http://jamiedubs.com>
* Free Art & Technology Lab
*/


/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, /*p, */blockquote, th, td {
  margin: 0;
  padding: 0;
}


/* Main */
html, body { width: 100%; height: 100%; }
html { color: #fff; background: #000; font-size: 100%; }
body {
  font-size: .92em;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.25em;
}
body.ie6 { font-size: 16px; }

/* Links */
a { color: #fff; text-decoration: underline; }
a:hover { background-color: #ff0; color: #000; text-decoration: none; }

/* Image links somewhat differently */
a img { border: 1px solid #333; background: transparent; }
a img.noborder { border: 1px solid transparent; } /* default is bordered */
a:hover img { border: 1px solid #ff0; background: transparent; }

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "Century Gothic", sans-serif;
  line-height: 2.125em;
  font-size: 150%;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; }

h1 { font-size: 1.6em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }


/* General */
hr {
  border: 0;
  height: 1px;
  border-top: 1px solid #333;
  width: 80%;
  margin: 15px auto 10px auto;
}

table { border-collapse: collapse; border-spacing: 0; }
table tr { }
table th { font-family: serif; font-size: 1.2em; background-color: #333; padding: 5px; font-weight: bold; }
table td { padding: 5px 5px; font-size: 0.9em; }

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}
ol li {
  list-style: upper-roman;
  margin-left: 2em;
  margin-bottom: 0.3em;
}
ol.square li, ul.square li {
  list-style-type: square;
}

caption, th {
  text-align: left;
}

q:before, q:after { content: ''; }

abbr, acronym { border: 0; font-variant: normal; }

sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }

/*em { background-color: #eea; color: #000; padding: 2px 3px; }*/
em { font-style: italic; }

/* Form styles */
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
input, textarea, select { font-size: 100%; }
legend { color: #fff; }
/*input[disabled="disabled"] { background-color: #f0f; color: #666; }*/
input[disabled], button[disabled] { color:#999; background-color: #bbb; border-color: #999; }

form label { 
	display: block;  /* block float the labels to left column, set a width */
	text-align: left; 	
/*  float: left;*/
/*  width: 150px;*/
  padding: 0 5px 5px 5px;
	margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
}

form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
  font:100% verdana,arial,sans-serif;
  margin: 0;
  padding: 0;
  min-width: 500px;
  max-width: 600px;
  width: 560px; 
}

form fieldset {
  clear: both;
  padding: 10px;
  margin: 0;
}

form fieldset legend { font-size: 1.1em; }
form fieldset label:first-letter { text-decoration:underline; } /* Denote accesskey */
form br { clear:left; }

/* some specifics; TODO REMOVEME! */
textarea#user_about { margin-left: 8em; }
.buttons input, .buttons button { font-size: 1.5em; } 


/* Custom classes & misc helpers */
.row, .clear { display: block; clear: both; }
.left, .floatLeft { float: left; }
.right, .floatRight { float: right; }
.center, .centered { margin-left: auto; margin-right: auto; }

.full { width: 100%; }
.half { width: 50%; }
.third { width: 33%; }
.quarter { width: 25%; }

/* Fonts & button misc */
.bigtext { font-size: 1.4em;line-height: 1.6em; }

a.button { background: #fff; padding: 3px 5px; color: #000; text-decoration: none; border: 3px solid #444; }
a.button:hover { background: #ff0; } /* Hmm. a:hover getting overriden by a.button */
a.smallbutton { padding: 3px 4px; border: 0; margin-right: 2px; }



/* Pagination */
.pagination { float: right; text-align: right; padding: .3em 0 1em 0; }
/*.pagination a, .pagination span { padding: .2em .5em; }*/
.pagination a { padding: .2em .5em; }
.pagination span.current, .pagination span.disabled { color: #AAA; border: 1px solid #444; padding: 3px 6px; }
/*.pagination span.current { font-weight: bold; color: #dF5084; }*/
.pagination span.current { }
.pagination a { background-color: #fff; color: #000; text-decoration: none; }
.pagination a:hover, .pagination a:focus { background: #ff0; color: #000; }
.pagination .page_info { color: #aaa; padding-top: .8em; }
.pagination .prev_page, .pagination .next_page { border-width: 2px; }
.pagination .prev_page { margin-right: 0.5em; }
.pagination .next_page { margin-left: 0.5em; }


/* Ghetto tabs */
div.tabs ul.tab_navigation { padding-bottom: 30px; }
div.tabs ul.tab_navigation li a { float: left; margin-right: 5px; padding: 10px 5px; background-color: #333; text-decoration: none; }
div.tabs ul.tab_navigation li a:hover { background-color: #555; color: #eee; }
div.tabs ul.tab_navigation li a.selected { background-color: #ff0; color: #000; }
div.tabs ul.tab_navigation li a.selected:hover { background-color: #ff5; color: #333; text-shadow: 3px; }
div.tabs div { clear: both; }


/* Prev/next on show pages */
/*.prevnext { display: block; margin: 25px auto 15px auto; font-size: 1.15em; width: 200px; }*/
.prevnext { display: block; /*width: 200px;*/ text-align: right; margin: 25px 100px 0px 0; font-size: 1.3em; }
.prevnext li { display: inline; }


/* Main layout */
#container {
  padding: 0 16px;
  width: 880px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

#header { height: 54px; padding: 16px 0 16px 8px; border-bottom: 2px solid #333; }
#header a.root_link { text-decoration: none;  }
#header a.root_link:hover { background: transparent; color: #ff0; }
#header h1.title { font-family: "Times", serif; font-size: 3em; font-weight: bold; margin: 0; padding: 0; line-height: 1em; letter-spacing: 1px; }
#header h2.byline { font-size: 10pt; font-weight: normal; padding: 0; margin: 0; margin-top: -0.5em; }
#header ul.navigation { float: right; margin: 30px 10px 0 0; font-size: 1.5em;  }
#header ul.navigation li { font-family: "Times", serif; display: block; float: left; }
#header ul.navigation li { padding-left: 12px; }
#header ul.navigation.buttons li a { padding: 5px 6px 3px; font-size: 0.9em; text-decoration: none; border: 0; background: #fff; color: #000; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
#header ul.navigation.buttons li a:hover { background-color: #ff0; border-color: #ff0; color: #111; }

#header ul.navigation.user_navigation { font-size: 1em; margin-right: 70px; }

/* User navigation: settings, logout, etc. */
#header ul.user_navigation .user_photo img { margin-top: -10px; }

#header h1 {
  display: block;
  font-family: "Georgia", serif;
  font-size: 30pt;
  font-style: italic;
}

#footer { clear: both; padding: 0 16px; margin: 5em 2em 1em 2em; height: 3em; text-align: right; color: #777; font-size: 90%; }


/* Flash */
#flash-notice, #flash-warning, #flash-error {  
  display: none; /* FIXME: should be obtrusive O_o */
  position: absolute;
  margin-top: -20px;    
  font-size: 1em;
  font-weight: bold;  
  background: #667;
  color: #fff;
  padding: 6px 12px 4px;
}

/* Standardish layouts, dependent on the container size */
.left_column { width: 500px; }
.right_column { float: right; width: 260px; }


#flash-notice   { color: #fff; background-color: #9c9; }
#flash-warning  { color: #cc9; }
#flash-error    { color: #fff; background-color: #c99; }


/* Form Errors */
#errorExplanation { background-color: #faa; border: 1px solid #faa; color: #333; padding: 0 10px 15px; } 
#errorExplanation ul li { list-style-type: square; margin-left: 15px; }

/* Login form... */
#login .remember_me { margin-left: 160px; font-size: 0.8em; margin-top: 10px; }
#login .remember_me input { float: left; }
#login .remember_me label { text-align: left; margin-left: 3px; }
#login .buttons, #login .help { margin-left: 6em; }
#login .help { font-size: 0.9em; margin-top: 2em; }



/* Main page layout biz */
#home #intro { line-height: 1.2em; font-size: 1.3em; text-align: center; background: #1a1a1a; border-bottom: 1px solid #333; padding: 0px 0 10px 0; }
#home #intro .left { float: left; margin-right: 20px; padding: 0 10px;}
#home #intro ol li { float: left; font-size: 1.2em; font-family: serif; }
#home #tags { margin-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #333; }
#tags a img { margin-right: 5px; }

#sidebar { width: 220px; float: right; border-left: 1px solid #333; padding: 10px 0 0 30px; }
#main { width: 520px; padding: 30px 0 20px 0; }

/* Entry.show sidebar */
.infobox { position: absolute; margin: 30px 0 0 600px; opacity: 1; width: 220px; background-color: #151515; padding: 5px 16px; }

/* Players */
#vanderplayer object, #vanderplayer embed { min-height: 800px; } /* hack */
#home #vis { margin-top: 15px; }

/* Add new application/visualization... */
.embed_toggle { margin-top: 40px; }
.embed_details.disabled { color: #555; }
