/*
* 000000book.com
* Jamie Wilkinson <http://jamiedubs.com>
* Free Art & Technology Lab
*/


/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, /*p, */blockquote, th, td {
  margin: 0;
  padding: 0;
}


/* Main */
html, body { width: 100%; height: 100%; }
html { color: #fff; background: #000; font-size: 100%; }
body {
  font-size: .92em;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.25em;
}
body.ie6 { font-size: 16px; }

/* Links */
a { color: #fff; text-decoration: underline; }
a:hover { background-color: #ff0; color: #000; text-decoration: none; }

/* Image links somewhat differently */
a img { border: 1px solid #333; background: transparent; }
a img.noborder { border: 1px solid transparent; } /* default is bordered */
a:hover img { border: 1px solid #ff0; background: transparent; }

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "Century Gothic", sans-serif;
  line-height: 2.125em;
  font-size: 150%;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; }

h1 { font-size: 1.6em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }


/* General */
hr {
  border: 0;
  height: 1px;
  border-top: 1px solid #333;
  width: 80%;
  margin: 15px auto 10px auto;
}

table { border-collapse: collapse; border-spacing: 0; }
table tr { }
table th { background-color: #333; padding: 5px; font-weight: bold; }
table td { padding: 5px 5px; }

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}
ol li {
  list-style: upper-roman;
  margin-left: 2em;
  margin-bottom: 0.3em;
}
ol.square li, ul.square li {
  list-style-type: square;
}

caption, th {
  text-align: left;
}

q:before, q:after { content: ''; }

abbr, acronym { border: 0; font-variant: normal; }

sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }

/*em { background-color: #eea; color: #000; padding: 2px 3px; }*/
em { font-style: italic; }

/* form sylings */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  font-size: 100%;
}

legend {
  color: #fff;
}

form label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 150px; 
/*  padding: 0; */
  padding: 0 5px 5px 5px;
	margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
	text-align: right; 
}

form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
  font:100% verdana,arial,sans-serif;
  margin: 0;
  padding: 0;
  min-width: 500px;
  max-width: 600px;
  width: 560px; 
}

form fieldset {
  clear: both;
  padding: 10px;
  margin: 0;
  
}

form fieldset legend {
	font-size:1.1em;
}

form fieldset label:first-letter { /* use first-letter pseudo-class to underline accesskey, note that */
/*  text-decoration:underline;*/
}

form br {
	clear:left;
}


/* Custom classes & misc helpers */
.clear { display: block; clear: both; }
br.clear { display: block; display: block; clear: both; height: 0; }

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.centered { margin-left: auto; margin-right: auto; }
.float_right, .floatRight { float: right; margin-left: 0.2em; }
.float_left, .floatLeft { float: left; margin-right: 0.2em; }

.full { width: 100%; }
.half { width: 50%; }
.third { width: 33%; }
.quarter { width: 25%; }

/* Fonts & button misc */
.bigtext { font-size: 1.4em;line-height: 1.6em; }

a.button { background: #fff; padding: 3px 5px; color: #000; text-decoration: none; border: 3px solid #444; }
a.button:hover { background: #ff0; } /* Hmm. a:hover getting overriden by a.button */
a.smallbutton { padding: 3px 4px; border: 0; margin-right: 2px; }




/* Real Pagination */
.pagination { text-align: center; padding: .3em 0 1em 0; }
/*.pagination a, .pagination span { padding: .2em .5em; }*/
.pagination a { padding: .2em .5em; }
.pagination span.disabled { color: #AAA; }
/*.pagination span.current { font-weight: bold; color: #dF5084; }*/
.pagination span.current {  }
.pagination a { border: 1px solid #333; background-color: #fff; color: #000; text-decoration: none; }
/*.pagination a:hover, .pagination a:focus { border-color: #003366; background: #0063DC; color: white; }*/
.pagination a:hover, .pagination a:focus { }
.pagination .page_info { color: #aaa; padding-top: .8em; }
.pagination .prev_page, .pagination .next_page { border-width: 2px; }
/*.pagination .prev_page { margin-right: 1em; }*/
/*.pagination .next_page { margin-left: 1em; }*/


/* Prev/next on show pages */
.prevnext { display: block; margin: 25px auto 15px auto; font-size: 1.15em; width: 160px; }


/* Main layout */
#container {
  padding: 0 16px;
  width: 768px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

#header { background-color: #1f1f1f; height: 24px; padding: 16px 0 16px 0; border-bottom: 2px solid #333; }
#header h1 { float: left; font-family: Verdana, arial, sans-serif; font-size: 1.8em; font-weight: normal; margin: 0 60px 0 0px; padding: 0; line-height: 1em; letter-spacing: -2px; }
#header ul.navigation { float: left; font-size: 1.5em; margin-top: 5px; }
#header ul.navigation li { display: block; float: left; }
#header ul.navigation li { padding-left: 12px; }
#header ul.navigation.buttons li a { padding: 2px 3px; background-color: #fff; border: 1px solid #fafafa; color: #222; text-decoration: none; }
#header ul.navigation.buttons li a:hover { background-color: #ff0; border: 1px solid #ffa; color: #000; }

#header ul.navigation.user_navigation { font-size: 1em; float: right; }

/* User navigation: settings, logout, etc. */
#header ul.user_navigation a img.photo { position: absolute; margin-left: -36px; margin-top: -7px; }

#footer { padding: 0 16px; width: 768px; margin: 0 auto; height: 3em; text-align: center; }
#footer { display: none; } /* REMOVEME disabling for time being */


/* Flash */
#flash-notice, #flash-warning, #flash-error {  
  display: none; /* FIXME: obtrusive O_o */
  position: absolute;
  margin-top: -20px;    
  font-size: 1em;
  font-weight: bold;  
  background: #667;
  color: #fff;
  padding: 6px 12px 4px;
}

#flash-notice   { color: #fff; background-color: #9c9; }
#flash-warning  { color: #cc9; }
#flash-error    { color: #c99; }


/* Form Errors */
#errorExplanation {
  -moz-border-radius: 5px;
  background-color: #faa;
  border: 1px solid #faa;
  color: #333;
  padding: 0 10px 15px;
} 
#errorExplanation ul li {
  list-style-type: square;
  margin-left: 15px;
}


/* Srs layout business */

#home #intro { line-height: 1.2em; font-size: 1.3em; text-align: center; background: #1a1a1a; border-bottom: 1px solid #333; padding: 0px 0 10px 0; }
#home #intro .left { float: left; margin-right: 20px; padding: 0 10px;}
#home #intro ol li { float: left; font-size: 1.2em; font-family: serif; }
#home #tags { margin-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #333; }
#tags a img { margin-right: 5px; }

#vis { margin-left: -150px; height: 350px; } /* Vanderlin player */
#home #vis { margin-top: 15px; }


#sidebar { width: 220px; float: right; border-left: 1px solid #333; padding: 10px 0 0 30px; }
#main { width: 520px; padding: 30px 0 20px 0; }
