html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  font-size: 100%; }

legend {
  color: #000; }

.clear {
  display: block;
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

br.clear {
  display: block;
  display: block;
  clear: both;
  height: 0; }

* {
  margin: 0; }

html, body {
  height: 100%; }

#container {
  padding: 0 16px;
  width: 768px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em; }

#header {
  background: #b4b3b3;
  height: 24px;
  padding: 16px;
  margin-bottom: 8px; }
  #header h1 {
    float: left; }
  #header ul.navigation {
    float: right; }
    #header ul.navigation li {
      display: block;
      float: left; }
    #header ul.navigation li {
      margin-left: 16px; }

#footer, .push {
  padding: 0 16px;
  width: 768px;
  margin: 0 auto;
  height: 3em; }

.float_right {
  float: right; }

.float_left {
  float: left; }

.full {
  width: 100%; }

.half {
  width: 50%; }

.third {
  width: 33%; }

.quarter {
  width: 25%; }

.header {
  display: none; }
