- @user.password = @user.password_confirmation = nil

- form_for @user, :url => user_path do |form|
  %h2 Edit My Account

  %fieldset
    -# TODO FIXME
    =# form.error_messages
    %legend

    -# Hmm. how to address this exactly?
    - if false
      %hr
      = form.password_field :current_password, :label => "Current password"

    %hr
    = form.password_field :password, :label => "New password"
    = form.password_field :password_confirmation, :label => 'Again'

    %hr
    = form.submit "Change my password!"



