- @user ||= current_user
%h2
  = (current_user == @user? 'Your Account:' : 'Their Account:')
  %span= @user.email
  
%ol
  %li= link_to 'Change password', edit_user_path(@user)
  %li= link_to 'Edit bio & info', edit_user_path(@user)

