%div[visualization]
  %p.name
    %strong Name
    =h visualization.name
  %p.website
    %strong Website
    =h visualization.slug
  %p.description
    %strong Description
    =h visualization.description
  %p.version
    %strong Version
    =h visualization.version

  %p.user_id
    %strong Submitted by
    =h visualization.user.login rescue 'nil'


  - if admin?
    = link_to 'Show', object_path(visualization)
    |
    = link_to 'Edit', edit_object_path(visualization)
    |
    = link_to 'Destroy', object_path(visualization), :confirm => 'Are you sure you want to delete this?', :method => :delete
