/ %h1 Applications

%p= link_to '+ Register New Application', new_object_path, :class => 'button add facebox'

= render :partial => 'visualization', :collection => current_objects
- if current_objects.blank?
  %em None yet!
