
<div class="column_left" style="width: 650px;">

<%# TODO replace all these remote images with local ones %>
<%# even better, start using a CDN... %>

<p>
 <img src="http://fffff.at/fuckflickr/data/000000book/about-invert.png" alt="About" /><br>
 <b><i>The Library of Babel for graffiti blackbooks.</i></b><br>

 <img src="http://fffff.at/fuckflickr/data/000000book/web/000000book-handshake-invert.jpg" /><br>

<p>
	<object width="640" height="360"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=8072358&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=8072358&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="640" height="360"></embed></object>
	<br/>
<p>
 <i><b>#000000</b>, -adjective<br>
 The hexadecimal representation of black, commonly used in mathematics and computer science.<br>

<p>
 <b>black book</b>, -noun<br>
 "A graffiti artist's sketchbook. Often used to sketch out and plan potential graffiti, and to collect tags from other writers."<br>
 ~ <a href="http://en.wikipedia.org/wiki/Graffiti_terminology">Wikipedia</a><br>
 </i>
 <br>

<p>
 <img src="http://fffff.at/fuckflickr/data/000000book/thumb/gml-file.png" /><br>

<p>
 #000000book is an open repository for sharing and archiving motion captured graffiti tags. Tags are saved as digital text files known as GML (Graffiti Markup Language), which can be captured through freely available software such as <a href="http://graffitianalysis.com">Graffiti Analyisis</a> (marker), <a href="http://graffitianalysis.com/iphone">DustTag</a> (iPhone), <a href="http://eyewrtier.org">EyeWriter</a> (eye movement) and <a href="http://graffitiresearchlab.com/?page_id=76">Laser Tag</a> (laser). Graffiti writers are invited to capture and share their own tags, and computer programmers are invited to create new applications and visualizations of the resulting data. The project aims to bring together two seemingly disparate communities that share an interest hacking systems, whether found in code or in the city.<br>
 <br>

<p>
 The GML & #000000book development team consists of <a href="http://jamiedubs.com/">Jamie Wilkinson</a>, <a href="http://evan-roth.com">Evan Roth</a>, <a href="http://www.theowatson.com/">Theodore Watson</a>, <a href="http://csugrue.com/">Chris Sugrue</a> and <a href="http://toddvanderlin.com/">Todd Vanderlin</a>; all members of the copyleft <a href="http://fffff.at">F.A.T. Lab</a>. Additional Flash development assistance from <a href="http://art.manorius.com/">Manolis Perrakis</a>.<br>

<p>
 Contact - info[at]000000book.com<br>

<p>
 For more technical information on 000000book please visit the <a href="http://jamiedubs.com/wikis/blackbook/">API/docs page</a>.
 <br>
<p>
 <img src="http://fffff.at/fuckflickr/data/000000book/grl-2-browser-diagram.png" width=911 />

<p><br />
 <a href="http://fffff.at"><img src="http://fffff.at/fuckflickr/data/FAT-LOGOS/thumb/FAT-2-invert.jpg" border=0 width=75 /></a>


</div>
