
%h2 Recent Database Activity
%p
  &larr;
  = link_to "back to home", root_path

= pagination(@notifications)

%p
  %br
  = render :partial => 'notifications', :object => @notifications #not :collection

= pagination(@notifications)
