
#home
  #intro.center
    / Intro text
    #welcome.left{:style => 'width: 250px;'}
      %p
        Sup dwg i herd you liek graf so we made a website for you  
    / Action links  
    #actions.left{:style => 'width: 250px;'}
      %p
        %ol
          %li
            = link_to 'Register', signup_path
            an account
          %li
            = link_to 'Upload', new_tag_path
            tags
    %br.clear     

  #tags
    - if @tags.blank?
      %h2.error No tags yet!
    - else
      %ul
        - @tags.each do |tag|
          %li.floatLeft= link_to image_tag(tag.image.url(:small)), tag_path(tag)
