

#intro.center

  %br
  %br
  Welcome
  
  %h1{:style => 'font-size: 3em; font-family: "Futura", sans-serif;'}
    == #000000book
  
  %p{:style => 'font-size: 1.2em; font-style: italic; text-transform: uppercase'}
    internet website
    
  %div{:style => 'margin: 0 auto; width: 400px; text-align: left'}
    %br
    %br
    
    %ol
      %li
        = link_to 'Sign up', signup_path
        for an account
      %li
        = link_to 'Upload', new_tag_path
        tag data
      %li
        = link_to 'Visualizations', visualizations_path
        

    %br
    %ol
      %li
        = link_to 'System Activity', activity_path