
-# A single tag pls
- link = @user ? user_tag_path(@user, tag, :trailing_slash => true) : tag_path(tag, :trailing_slash => true)
%h2= tag.application || '(untitled)'
= link_to image_tag(tag.image.url(:medium)), link
