
<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-96220-19");
pageTracker._trackPageview();
} catch(err) {}</script>

<!-- BuzzFeed stats -->
<div id="BF_WIDGET_1">&nbsp;</div>
<script type="text/javascript">
(function( ){
BF_WIDGET_JS=document.createElement("script"); BF_WIDGET_JS.type="text/javascript";
BF_WIDGET_SRC="http://ct.buzzfeed.com/wd/UserWidget?u=000000book.com&amp;to=1&amp;or=vb&amp;wid=1&amp;cb=" + (new Date()).getTime();
setTimeout(function() {document.getElementById("BF_WIDGET_1").appendChild(BF_WIDGET_JS);BF_WIDGET_JS.src=BF_WIDGET_SRC},1);
})();
</script>

